<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>LocationName</li>
    <li>StreetAddress</li>
    <li>Tacoma, Washinton, USA</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>locationLink</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>phonenumber</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:macnanon@gmail.com">macnanon@gmail.com</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://nathanMcL.github.io/">https://nathanMcL.github.io/</a></li>
  </ul>
</div>
