<div class="contact">
  <h1>Contact</h1>
  <h2>HABIB ULLAH</h2>
  <ul>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Melbourne, VIC</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+61 451 418 132</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:hhabibi@outlook.com">hhabibi105@outlook.com</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://hhabib.bio">https://hhabibi.bio</a></li>
  </ul>
</div>
