<header>
  <div class="wrapper">
    <div class="columns">
      <div class="left column">
        <a href="{{ site.url }}" id="titlebar">{{ site.firstname }}<span style="display: none;"> </span><b>{{ site.lastname }}</b></a>
      </div>
      {% if site.navtext %}
      {% if site.navlink %}
      <div class="right column menu">
        <a href="{{ site.navlink }}" id="navbar">{{ site.navtext }}</a>
      </div>
      {% else %}
      <div class="right column menu">
        {{ site.navtext }}
      </div>
      {% endif %}
      {% endif %}
    </div>
  </div>
</header>
