<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <script src="https://kit.fontawesome.com/4fb5cb0243.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@v1.9.1/css/academicons.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/piazzai/nonacademicons@v1.0.0/css/nonacademicons.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;500&family=Alegreya+Sans:wght@900&family=Alegreya:ital,wght@0,400;0,700;1,400;1,700&display=swap" />
  <link rel="stylesheet" href="/assets/style.min.css" />

  {% if page.layout == "home" %}
  <title>{{ site.title }}</title>
  {% else %}
  <title>{{ site.title }} - {{ page.title }}</title>
  {% endif %}

  {% if site.analytics %}
  {% include analytics.html %}
  {% endif %}

  {% seo %}
</head>
