body {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  font-variant-numeric: var(--body-num-variant);
  line-height: var(--body-line-height);
  background-color: var(--body-background-color);
  color: var(--body-color);
}

a {
  text-decoration: none;
  color: var(--link-color);

  &:focus,
  &:hover {
    color: var(--link-hover-color);
  }
}

header {
  margin-top: calc(var(--spacer) * 2);
  margin-bottom: calc(var(--spacer) * 3);
}

footer {
  margin-top: calc(var(--spacer) * 3);
  margin-bottom: calc(var(--spacer) * 3);
}

footer a,
header a {
  color: inherit;

  &:hover {
    color: inherit;
    border-bottom: calc(var(--spacer) / 5) dotted var(--border-color);
  }
}

hr {
  margin: calc(var(--spacer) * 2) 0;
  border-top: calc(var(--spacer) / 5) solid var(--border-color);
}

li::marker {
  font-family: var(--body-font-family);
}

.site-title {
  font-weight: calc(var(--body-font-weight) + var(--body-font-weight-increment));
}

.cv-page {
  ul {
    padding: 0;

    li::marker {
      content: none;
    }
  }

  p {
    margin: 0;
  }
}
