body {
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  font-variant-numeric: var(--body-num-variant);
  line-height: var(--body-line-height);
  background-color: var(--body-bg);
  color: var(--body-color);
}

a {
  text-decoration: none;
  color: var(--link-color);

  &:focus,
  &:hover {
    color: var(--link-hover-color);
  }
}

header {
  margin-top: var(--spacer-2);
  margin-bottom: var(--spacer-3);
  font-weight: calc(var(--body-font-weight) + 100);

  a {
    color: inherit;
  }
}

footer {
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-2);

  a {
    text-decoration: none;
    color: inherit;
  }
}

small {
  font-weight: calc(var(--body-font-weight) - 100);
}

strong {
  font-weight: calc(var(--body-font-weight) + 200);
}

mark {
  padding: 0 0.25rem 0.25rem;
  background-color: var(--highlight-bg);
  color: inherit;
  border-radius: var(--border-radius);
}
