code,
pre {
  font-family: var(--body-font-family-mono);
}

code {
  color: var(--code-color);
}

pre {
  display: block;
  overflow: auto;
}

.highlight {
  padding: 0 var(--spacer);
  margin-bottom: var(--spacer);
  border-radius: var(--border-radius);
  background-color: var(--body-background-color);

  pre {
    padding: 0;
    margin-bottom: 0;
  }

  .highlight {
    padding: 0;
  }
}
