a.site-title {
  font-weight: 500;
  color: var(--color-heading);

  &:focus,
  &:hover {
    border-color: inherit;
    color: inherit;
  }
}

.message {
  padding: 0.25em 1em;
  border-radius: 0.25em;
  background-color: var(--color-mark);
  color: var(--color-text);
}

#archive ul,
#contact ul {
  list-style-type: none;
  padding: 0;
}

.li-icon {
  margin-right: 0.25em;
}

a.icon {
  svg path {
    stroke: var(--color-link);
  }

  &:focus,
  &:hover {
    border: none;

    svg path {
      stroke-width: 0.1em;
    }
  }
}

.footnotes {
  margin-top: 2em;

  p {
    margin: 0;
  }

  &::before {
    content: "Notes";
  }
}

a[href^="#fn:"] {
  margin-left: 0.1em;
  font-weight: 500;

  &:focus,
  &:hover {
    font-weight: 700;
    border: none;
  }
}

a.reversefootnote {
  font-weight: 500;

  &:focus,
  &:hover {
    font-weight: 700;
    border: none;
  }
}
