@font-face {
  font-family: "JuliaMono";
  src: url("../woff2/JuliaMono-RegularLatin.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "JuliaMono";
  src: url("../woff2/JuliaMono-BoldLatin.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Piazzolla";
  src: url("../woff2/Piazzolla-Thin.woff2") format("woff2");
  font-style: normal;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Piazzolla";
  src: url("../woff2/Piazzolla-ThinItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Piazzolla";
  src: url("../woff2/Piazzolla-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Piazzolla";
  src: url("../woff2/Piazzolla-LightItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Piazzolla";
  src: url("../woff2/Piazzolla-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Piazzolla";
  src: url("../woff2/Piazzolla-MediumItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Piazzolla SC";
  src: url("../woff2/PiazzollaSC-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Piazzolla SC";
  src: url("../woff2/PiazzollaSC-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Piazzolla SC";
  src: url("../woff2/PiazzollaSC-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Piazzolla SC";
  src: url("../woff2/PiazzollaSC-BoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
