// serif

@font-face {
  font-family: "Piazzolla";
  src: url("../woff2/Piazzolla-ExtraLight.woff2") format("woff2");
  font-style: normal;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Piazzolla";
  src: url("../woff2/Piazzolla-ExtraLightItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Piazzolla";
  src: url("../woff2/Piazzolla-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Piazzolla";
  src: url("../woff2/Piazzolla-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Piazzolla";
  src: url("../woff2/Piazzolla-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Piazzolla";
  src: url("../woff2/Piazzolla-SemiBoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Piazzolla";
  src: url("../woff2/Piazzolla-ExtraBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Piazzolla";
  src: url("../woff2/Piazzolla-ExtraBoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}

// small caps

@font-face {
  font-family: "Piazzolla SC";
  src: url("../woff2/PiazzollaSC-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Piazzolla SC";
  src: url("../woff2/PiazzollaSC-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Piazzolla SC";
  src: url("../woff2/PiazzollaSC-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Piazzolla SC";
  src: url("../woff2/PiazzollaSC-SemiBoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

// monospaced

@font-face {
  font-family: "Hack";
  src: url("../woff2/hack-regular-subset.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Hack";
  src: url("../woff2/hack-italic-subset.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Hack";
  src: url("../woff2/hack-bold-subset.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Hack";
  src: url("../woff2/hack-bolditalic-subset.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
