#iconoir {
  path {
    stroke: var(--body-color);
    stroke-width: 1.5;
  }
}

a #iconoir {
  path {
    stroke: var(--link-color);
  }

  &:hover {
    path {
      stroke: var(--link-hover-color);
    }
  }
}
