.iconoir {
  path {
    stroke: var(--body-color);
    stroke-width: var(--svg-stroke-width);
  }
}

a .iconoir {
  path {
    stroke: var(--link-color);
  }

  &:focus,
  &:hover {
    path {
      stroke: var(--link-hover-color);
    }
  }
}

.icon-link:focus,
.icon-link:hover {
  border: none;
}
