// Layout
//
// Styles for managing the structural hierarchy of the site.

// .container {
//   max-width: 45rem;
//   padding-left: var(--spacer-2);
//   padding-right: var(--spacer-2);
//   margin-left:  auto;
//   margin-right: auto;
// }

.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer-3);
}

.masthead-title {
  margin-bottom: 0;

  a {
    color: inherit;
    text-decoration: none;
  }
}

footer {
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-3);
}
