@media screen and (min-width: 768px) {
  .particles-icon {
    margin: 0 1em;

    svg {
      transform: scale(2.5);
    }
  }

  .particles-scroll svg {
    transform: scale(3.5);
  }
}

@media screen and (min-width: 576px) {
  #cv .contact ul,
  #cv p {
    padding-left: 0.5em;
  }
}

@media only print {
  body {
    font-size: 10pt;
    background-color: white;
    color: black;
  }

  a {
    color: black;
  }

  dd {
    padding-left: 1.5em;
  }

  .pagination {
    display: none;
  }

  #cv {
    header {
      margin: 0;
    }

    .site-title {
      font-size: 1.5em;
    }

    small {
      display: none;
    }

    .contact ul,
    p {
      padding-left: 0.5em;
    }

    .li-icon,
    .reversefootnote,
    a.iconlink {
      display: none;
    }
  }
}
