// Messages
//
// Show alert messages to users. You may add it to single elements like a `<p>`,
// or to a parent if there are multiple elements to show.

.message {
  padding: var(--spacer);
  margin-bottom: var(--spacer);
  color: var(--message-color);
  background-color: var(--message-bg);
  border-radius: var(--border-radius);
}
