.page-title,
.post-title {
  color: var(--heading-color);

  a {
    color: inherit;

    &:focus,
    &:hover {
      border-bottom: var(--border-width) dotted var(--border-color);
    }
  }
}

.post-date {
  font-style: italic;
  color: var(--heading-color);
}
