.page-title,
.post-title {
  color: var(--heading-color);

  a {
    color: inherit;

    &:focus,
    &:hover {
      border-bottom: var(--border-width) dotted var(--border-color);
    }
  }
}

.post-date {
  text-transform: lowercase;
  font-family: var(--body-font-family-sc);
  color: var(--heading-color);
}
