h1,
h2,
h3 {
  margin-bottom: calc(var(--spacer) / 2);
}

h1 {
  font-size: calc(var(--body-font-size) + var(--body-font-size-increment) * 3);
  font-weight: calc(var(--body-font-weight) + var(--body-font-weight-increment) * 2);
}

h2 {
  margin-top: calc(var(--spacer) * 2);
  font-size: calc(var(--body-font-size) + var(--body-font-size-increment) * 2);
  font-weight: calc(var(--body-font-weight) + var(--body-font-weight-increment));
}

h3 {
  margin-top: var(--spacer);
  text-transform: lowercase;
  font-family: var(--body-font-family-sc);
  font-size: calc(var(--body-font-size) + var(--body-font-size-increment));
}

dt {
  font-weight: var(--body-font-weight-bold);
}

dd {
  margin-bottom: .5rem;
}

hr {
  position: relative;
  margin: var(--spacer-2) 0;
  border: 0;
  border-top: 1px solid var(--border-color);
}

abbr {
  font-size: 85%;
  text-transform: uppercase;

  &[title] {
    cursor: help;
    border-bottom: 1px dotted var(--border-color);
  }
}

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: var(--quote-color);
  border-left: .25rem solid var(--border-color);

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 30em) {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

small {
  font-size: var(--body-font-size-small);
}

figure {
  margin: 0;
}


// Markdown footnotes
//
// See the example content post for an example.

// Footnote number within body text
a[href^="#fn:"],
// Back to footnote link
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: .1rem;
  font-weight: var(--body-font-weight-bold);
}

// List of footnotes
.footnotes {
  margin-top: 2rem;
  font-size: 85%;
}

// Custom type
//
// Extend paragraphs with `.lead` for larger introductory text.

.lead {
  font-size: 1.25rem;
  font-weight: var(--body-font-weight-light);
}
