h1,
h2,
h3 {
  margin-bottom: calc(var(--spacer) / 2);
}

h1 {
  font-size: calc(var(--body-font-size) + var(--body-font-size-increment) * 3);
  font-weight: calc(var(--body-font-weight) + var(--body-font-weight-increment) * 2);
}

h2 {
  margin-top: calc(var(--spacer) * 2);
  font-size: calc(var(--body-font-size) + var(--body-font-size-increment) * 2);
  font-weight: calc(var(--body-font-weight) + var(--body-font-weight-increment));
}

h3 {
  margin-top: var(--spacer);
  text-transform: lowercase;
  font-family: var(--body-font-family-sc);
  font-size: calc(var(--body-font-size) + var(--body-font-size-increment));
}

small {
  font-weight: calc(var(--body-font-weight) - var(--body-font-weight-increment));
}

strong {
  font-weight: calc(var(--body-font-weight) + var(--body-font-weight-increment));
}

abbr {
  text-transform: lowercase;
  font-family: var(--body-font-family-sc);
}

mark {
  border-radius: var(--border-radius);
  background-color: var(--mark-background-color);
  color: inherit;
}

blockquote {
  padding: calc(var(--spacer) / 2) var(--spacer);
  margin: var(--spacer) 0;
  border-left: var(--border-width) solid var(--border-color);
  color: var(--quote-color);

  p:last-child {
    margin-bottom: calc(var(--spacer) / 2);
  }
}

.message {
  padding: calc(var(--spacer) / 4) calc(var(--spacer) / 2) calc(var(--spacer) / 2) calc(var(--spacer) / 2);
  margin-bottom: var(--spacer);
  border-radius: var(--border-radius);
  background-color: var(--mark-background-color);
  color: inherit;
}

a[href^="#fn:"],
a[href^="#fnref:"] {
  margin-left: calc(var(--body-font-size) / 12);
  font-weight: calc(var(--body-font-weight) + var(--body-font-weight-increment));
}

.footnotes {
  margin-top: var(--spacer);
  font-size: calc(var(--body-font-size) - var(--body-font-size-increment));

  &::before {
    display: block;
    content: "Notes";
    text-transform: lowercase;
    font-family: var(--body-font-family-sc);
  }
}
