:root {
  --type-serif: 'Piazzolla', serif;
  --type-caps: 'Piazzolla SC', serif;
  --type-mono: 'Hack', monospace;
  --type-size: 21px;
  --type-weight: 400;
  --type-height: 1.4;
  --type-numeric: oldstyle-nums proportional-nums;
  --color-background: var(--oc-gray-1);
  --color-text: var(--oc-gray-8);
  --color-heading: var(--oc-gray-8);
  --color-code: var(--oc-gray-8);
  --color-link: var(--oc-blue-8);
  --color-mark: var(--oc-yellow-3);
  --color-border: var(--oc-gray-4);
  --color-button: var(--oc-gray-6);
}
