---
layout: default
---

<header>
  <a class="site-title" href="{{ site.url }}">{{ site.title }}</a>
  <small>{{ site.tagline }}</small>
</header>
<main>
  <article class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date: "%B %e, %Y" }}</time>
    <p class="lead">{{ page.lead }}</p>
    {{ content }}
  </article>
</main>
<footer>
  <small>
    &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}. All rights reserved.
  </small>
</footer>
